/* Footer.css */
.footer {
  padding: 20px;
display: flex;
justify-content: center
;  background-color: transparent;
  width: 100%;
  position : relative;
  bottom: 0;
}

.footer p {
  font-size: 14px;
}
